#header img {
    width: 80px;
}

.shadow {
  box-shadow: none !important;
}

#listado {
  /* background: #a4b0be; */
  background: #ced6e0;
  /* margin: auto; */
}

.pdf-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-listado {
  color: #212121;
}

 /* prueba pdf*/
/* .pdfobject-com {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2016;
} */

/* .pdfobject-com a:link, .pdfobject-com a:visited {
	color: #fff;
	font-weight: bold;
	display: block;
	padding: .25rem 1rem;
	background: #6699FF;
	text-decoration: none;
} */

.pdfobject-com a:hover, .pdfobject-com a:visited:hover {
	color: #FFF;
	background: #FF3366;
	text-decoration: none;
}

/* .pdfobject-com a:before {
  content: "\2190";
  margin-right: .25rem;
} */
/* prueba pdf*/
.nav-link{
    color: black !important;
}

a.link-servicio {
  color: black;
  text-decoration: none;
}

h2.font-weight-bold.title-plx {
    color: #0068af;    
}

h3 {
  /* color: white; */
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

h3.title-skills {
  font-family: 'montserrat', sans-serif;
  font-size: 2.2em;
  font-weight: 700;
}

h4.title-app {
  margin-top: 40px;
  color: #000000 !important;
}


.lead {
  color: black;
  font-weight: 500;
}


.bg-dark {
  background-color: rgba(0, 0, 0, 0.1)!important;
}

#plx {
    background-image: url('../img/img8.jpg');
    height: 680px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.banner_area:before {
    content: "";
    background: url('../img/header-bg.png') no-repeat scroll center right;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    max-width: 1233px;
    width: 100%;
}


.container-prax {
  max-width:  1960px;
  margin: 0 auto;
  background: #f9f9f9;
  /* padding: 5px; */
}

/*  productos  */
.productos{
  margin-top:-15%;
  padding: 10%;
}
.productos h4{
  color: #1485ee;
  font-weight: bold;
  font-size: 30px;
}
.productos .subheading{
  color: #ff6348;
  font-size: 20px;
}
.productos .row
{
  margin-top: 10%;
}
.productos-img 
{
  text-align: center;
}
.productos-img img{
  width: 40%;
}
/*  /productos  */

h4.title-parallax {
  z-index: 2;
  position: relative;
}

.banner_area {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.banner_inner_text {
  padding-top: 160px;
  position: relative;
  padding-bottom: 95px;
}

.banner_inner_text:before {
  content: "";
  width: 213px;
  /* height: 1px; */
  position: absolute;
  background: #ced0e0;
  left: 0px;
  bottom: 0px;
}

.banner_servicios_text {
  padding-top: 150px;
  position: relative;
  padding-bottom: 50px;
}

.banner_inner_text h2 {
  font-size: 72px;
  color: #0b1033;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.banner_servicios_text:before {
  content: "";
  width: 213px;
  /* height: 1px; */
  position: absolute;
  background: #ced0e0;
  left: 0px;
  bottom: 0px;
}

.banner_servicios_text h2 {
  font-size: 72px;
  color: #d1d4f1;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.banner_inner_text p {
  font-size: 24px;
  color: #6b7d8e;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-top: 15px;
}

p.title-correo{
  text-align: center;
}

#skills {
 background: url('../img/servicio-bg13.png');
 background-size: cover;
 height: 680px;
 background-position: center;
 margin-bottom: 30px;
}
.img-servicios {
max-width: 100%;
height: auto;
}

#Whatsapp {
  background-color: #0066d3;
  height: 100%;
}

#Whatsapp .row.py-4 {
  align-items: center;
}

section#boletin {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}

.whatsapp-parrafo {
  color: white;
}

/* inicia servicios */
.features-services {
  color:#313437;
  /* background-color:#fff; */
  padding-bottom:30px;
  background: url('../img/hero1-bg.png') no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.features-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}



/* .features-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 60px;
} */

.features-clean .item {
  min-height:100px;
  padding-left:80px;
  margin-bottom:40px;
}

.features-clean .item .name {
  font-size:20px;
  font-weight:bold;
  margin-top:0;
  color:inherit;
  text-align: left;
}

.features-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.title-propuesta{
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
} 

.subtitle-propuesta {
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 30px;
  line-height: 26px;
}

.icon {
  color: #1485ee;
  font-size: 40px;
  margin-top: 20px;
  position: absolute;
  left: 45%;
}
/* finaliza servicios*/


/* Feature Area css
============================================================================================ */
.services-inner {
  /* border: 2px solid #48c7ec; */
  /* margin-left: 35px; */
  transition: .6s;
}

.our-services-wrapper {
  margin-bottom: 10px;
}
.our-services-text {
  overflow: hidden;
  padding: 28px 0 25px;
}
.our-services-text h4 {
  color: #222222;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  margin-top: 50px;
}
.our-services-wrapper:hover .services-inner {
  background: #fff none repeat scroll 0 0;
  border: 2px solid transparent;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
  margin-bottom: 0;
}

.subtitle-services {
  text-align: center;
}

/* End Feature Area css
============================================================================================ */

#mapa {
  padding-top: 50px;
  margin-top: 10px;
}

.i.icon.fas.fa-phone.fa-2x {
  display: flex;
  position: initial;
}

section#skills {
  padding-top: 50px;
  padding-bottom: 180px;
  margin-bottom: 100px;
}


p.paragraph {
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  /* color: white; */
  font-size: 1.2em;
}

p.paragraph-servicio {
  margin-top: 20px;
  padding-bottom: 10px;
  margin-right: 50px;
  color: #363636;
  font-size: 1.2em;
}

.banner-img {
  padding-bottom: 100px !important;

}

img.laptop-services {
  height: 65px;
}

img.softrestaurant {
  height: 69px;
  width: 253px;
}

.img-servicio {
  height: 60%;
  width: 60%;
  display:flex;
  margin:0 auto;
}

p.text-services {
  padding-top: 10px;
  padding-bottom: 50px;
  color: #000000 !important;
}

img.outsourcing {
  height: 65px !important;
}

#Acerca img {
  max-width: 100%;
}

#Servicios img {
  max-width: 100%;
}
#Whatsapp  p {
  color: white;
  font-size: 1.3em;
  margin-top: 15px;
}

section#counters {
  background-image: url(../img/bg-counter3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

.icon-box {
  color: #ffffff;
}

#why {
  background-color:  #212121!important;
  background: url('../img/bg-why.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.why-img {
  max-width: 100%;
}

.d-flex {
  display: flex !important;
}
.icon-why {
  color: #1485ee;
  margin-right: 1rem !important;
}

.i.fas.fa-award.fa-4x.icon-whyc {
  /* margin: 0 16px 0 0; */
  color: #1485ee;
  margin-right: 2rem !important;
  padding-right: 10px !important;
}

.flex-fill {
  flex: 1 1 auto!important;
}

p.text-grey {
 color: #e9ecef;
}


.i.fas.fa-file-pdf.fa-3x {
  background-color: #747d8c;
  border-radius: 50%;
  padding: 50px;
}

p.counter {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
}

.counter-title {
  color: white;
  font-size: 1em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.contador-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  margin-top: 40px;
  margin-bottom: 80px;
}

.btn.btn-whatsapp{
  background-color: #2ecc71;
}

.btn.btn-whatsapp a{
  font-size: 1.2em;
  color: white !important;
  text-decoration: none;
}

.btn.btn-whatsapp:hover {
  background-color: #28A745; 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(0,0,0,0.5); */
  color: white;
}

.title-partners {
  color: #0066d3;
  font-size: 2.2em;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'montserrat', sans-serif !important;
}

section#partners {
  margin-bottom: 60px;
  padding-top: 150px;
  padding-bottom: 80px;
}

.row.partnersfilter {
  padding-top: 100px;
}
.partnersfilter img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -ms-filter: grayscale(1);
  -o-filter: grayscale(1);
}
.partnersfilter img:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
}

#footer {
    display: block;
    text-align: center;
    background-color: #1b2127;
    padding-top: 20px;
    color: white;
}

.row.align-items-center {
  height: 100px;
}

.footext {
  margin-top: 50px;
}

ul.Redes-icons {
  list-style: none;
  padding-top: 10px;
}
li.li-cons {
  display: inline-flex !important;
  padding-right: 1.5em;
}

@media (max-width:767px) {
  .features-services {
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .features-clean h2 {
    margin-bottom:15px;
    padding-top:25px;
    font-size:24px;
  }
}

@media (max-width:767px) {
  .features-clean .intro {
    margin-bottom:40px;
  }
}

@media (max-width:767px) {
  .features-clean .item {
    min-height:0;
  }
}